.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.btnPagination {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 .2em;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #000000;
    color: #eeeeee;
    border-color: #eeeeee;
}

.active {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 900;
    font-size: 1.5em;
    margin: 0 .2em;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ffe400;
    color: #101010;
    border-color: #000000;
}

.btnPrevNext {
    width: fit-content;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 .2em;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #000000;
    color: #eeeeee;
    border-color: #eeeeee;
}

.btnPrevNext:hover {
    background-color: #f42;
}

.btnPrevNextDisable {
    width: fit-content;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 .2em;
    border-radius: .5em;
    transition: all 0.3s ease;
    background-color: #c0b5b5db;
    color: #eeeeee;
    border-color: #eeeeee;
}